<div class="pos-f-t">
  <nav class="navbar navbar-dark home-nav">
    <div class="container">
      <div id="logo"><a href="/"><img alt='logo'
            src="{% if site.logo %}{{site.logo}}{% else %}https://serverles-cms.s3-eu-west-1.amazonaws.com/imageUpload/20190709-135036-schaliegasvrij-logo-png.png{% endif %}" /></a>
      </div>
  </nav>
  <div class="nav-container home-nav-container">
    <div class="container">
      <div class="column" id="navbarToggleExternalContent">
        <ul class="navbar-nav row">
          {% include sections/navbar.html %}
        </ul>
      </div>
    </div>
  </div>
</div>
