<div class="pos-f-t">
  <div class="column container">
    <ul class="navbar-nav row mainNav">
      <li class="nav-item"><a class="nav-link navTitle" href="/">Antwerpen Schaliegasvrij</a></li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          Home
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {%if page.category == "het-verhaal"%}active{%endif%}" href="#"
          id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Het Verhaal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for item in pages%}
          {% if item.category == "het-verhaal" %}
          <a class="dropdown-item {% if page.file == item.file %}{% if page.category == item.category %}active{% endif %}{% endif %}"
            href={{ item.url }}>{{item.menuTitle}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {%if page.category == "over-ons"%}active{%endif%}" href="#"
          id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Over Ons
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for item in pages%}
          {% if item.category == "over-ons" %}
          <a class="dropdown-item {% if page.file == item.file %}{% if page.category == item.category %}active{% endif %}{% endif %}"
            href={{ item.url }}>{{item.menuTitle}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</div>