.home-intro {
  padding-top: 5rem;
  padding-bottom: 4rem;
  color: #000;
  fill: #000;

  h1 {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: 1.16;
    text-transform: uppercase;
  }
}

.home-index  {
  li {
    padding-bottom: 1rem;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}